.background{
     
}

body {
    background-repeat: no-repeat;
    background-size: cover;
  }

.Text{
    justify-content: end;
    color: rgb(108, 0, 4);
    background-color: rgba(128, 128, 128, 0.359);
    align-items: center;

}

.MP3{
  align-items: flex-end;
}

/* Maddie code v / Griffin code ^ */

.img-fluid{
    max-height:700px;
    display:flex;
    float:right;
}

@font-face{
    font-family: POKPIX3;
    src: url("../Assets/pokemon_pixels_1/POKPIX3.TTF");
}
.pkmnFontThree{
    font-family: POKPIX3;
}
@font-face{
    font-family: POKPIX2;
    src: url("../Assets/pokemon_pixels_1/POKPIX2.TTF");
}
.pkmnFontTwo{
    font-family: POKPIX2;
}
@font-face{
    font-family: POKPIX1;
    src: url("../Assets/pokemon_pixels_1/POKPIX1.TTF");
}
.pkmnFontOne{
    font-family: POKPIX1;
}
.pkmnCardContainer{
    
}
.card-title, .card-text{
    text-align:center;
}
.typhlosion{
    background: url(../Assets/typhlosionGB.png) fixed;
    background-repeat:no-repeat;
    background-position:100%;
}
.lapras{
    background: url(../Assets/laprasGB.png) fixed;
    background-repeat:no-repeat;
    background-position:100%;
}
.wooper{
    background: url(../Assets/wooperGB.png) fixed;
    background-repeat:no-repeat;
    background-position:100%;
}
.totodile{
    background: url(../Assets/totodileGB.png) fixed;
    background-repeat:no-repeat;
    background-position:100%;
}
.togepi{
    background: url(../Assets/togepiGB.png) fixed;
    background-repeat:no-repeat;
    background-position:100%;
}
.slowpoke{
    background: url(../Assets/slowpokeGB.png) fixed;
    background-repeat:no-repeat;
    background-position:100%;
}
.yamper{
    background: url(../Assets/yamperGB.png) fixed;
    background-repeat:no-repeat;
    background-position:100%;
}
.dragapult{
    background: url(../Assets/dragapultGB.png) fixed;
    background-repeat:no-repeat;
    background-position:100%;
}
/*.transButton{
        opacity: 0%;
}*/
.nextBtn1{

}
.backBtn1{

}
.aBtn1{

}
.startBtn1{
    margin-left: 85.5%;
    margin-top: 10%;
}