.songInfo{
    position: absolute; 
    margin-top: -33%;
    margin-left: 3%;
    margin-right: 60%;
    color: darkred;
    background-color: rgba(70, 154, 10, 0.581);
}

.songTitle{
    position: absolute; 
    margin-top: -46%;
    color: black;
    margin-left: 3%;
}
.songDate{
    position: absolute; 
    margin-top: -37%;
    color: darkblue;
    margin-left: 3%;
}
.Audio{
    position: absolute;
    margin-left: 3%;
    margin-top: 7.5%;
}

.pokeCry{
    position: relative;
    margin-right: 50%;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.Text {
    justify-content: end;
    color: rgb(255, 0, 8);
    background-color: rgba(0, 0, 0, 0.684);
    align-items: center;
}

.nextButton {
    margin-left: 63.5%;
    margin-top: -21%;
    background-color: rgb(56, 56, 56);
    color: azure;
    
}

.lastButton {
    margin-left: 53.5%;
    margin-top: -24%;
    background-color: rgb(32, 32, 32);
    color: rgb(198, 198, 198);
}

.homeButton{
    position: absolute;
    margin-top: -17%;
    margin-left: -5.5%;
    background-color: rgb(31, 31, 31);
    color: rgb(202, 202, 202);
}

.reviewButton{
    position: absolute;
    margin-top: -17%;
    margin-left: 6%;
    background-color: rgb(77, 77, 77);
    color: rgb(241, 241, 241);
}

.MP3 {
    
    padding-left: 50%;
    max-width: 72%
}

.mp3Button{
    position:absolute;
    transform: rotate(34deg);
    padding:11%;
    padding-bottom: 1%;
    margin-left:31%;
    margin-top:6%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0)
}

/* Maddie code v        /    Griffin code /\ */

.gameboybtn{
    position:absolute;
    transform: rotate(30deg);
    padding:14%;
    padding-bottom: 5%;
    margin-left:43%;
    margin-top:-17%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0)
}


.backgr{
    background: url(../Assets/ShadowOnGrass.png);
    background-size:cover;
}

.gameboy {
    justify-content:right;
    margin-left: 60%;
    max-height: 700px;
}

@font-face {
    font-family: POKPIX3;
    src: url("../Assets/pokemon_pixels_1/POKPIX3.TTF");
}

.pkmnFontThree {
    font-family: POKPIX3;
}

@font-face {
    font-family: POKPIX2;
    src: url("../Assets/pokemon_pixels_1/POKPIX2.TTF");
}

.pkmnFontTwo {
    font-family: POKPIX2;
}

@font-face {
    font-family: POKPIX1;
    src: url("../Assets/pokemon_pixels_1/POKPIX1.TTF");
}

.pkmnFontOne {
    font-family: POKPIX1;
}

.pkmnCardContainer {
    position:absolute;
    margin-top: -40%;
}

.card-title,
.card-text {
    text-align: center;
}

transButton{
        opacity: 0%;
}

.nextBtn {
    margin-left:25%;
    margin-top: 33.6%;
    position: absolute;
    background-color:rgb(50,15,133);
    border-radius:5px;
    border-width: 2px;
    color:white;
}

.backBtn {
    margin-left:20%;
    margin-top: 33.6%;
    position: absolute;
    background-color:rgb(50,15,133);
    border-radius:5px;
    border-width: 2px;
    color:white;

}

.aBtn {
    margin-left:30%;
    margin-top: 33.6%;
    position: absolute;
    background-color:rgb(50,15,133);
    border-radius:5px;
    border-width: 2px;
    color:white;
}

.startBtn {
    margin-left:14.4%;
    margin-top: 33.6%;
    position: absolute;
    background-color:rgb(50,15,133);
    border-radius:5px;
    border-width: 2px;
    color:white;
}