.background{
     
}

body {
    background-repeat: no-repeat;
    background-size: cover;
  }

.Text{
    justify-content: end;
    color: rgb(108, 0, 4);
    background-color: rgba(128, 128, 128, 0.359);
    align-items: center;

}

.MP3{
  align-items: flex-end;
}

/* Maddie code v / Griffin code ^ */

.gameboy{
    background: url(../Assets/Gameboy.jpeg) fixed;
    background-repeat: no-repeat;
    background-position: 100%;
}
.introTextContainer{
    text-align:left;
    
}